.card:hover .imgCont div {
   transform: scale(1.05);
   transition: transform 0.5s;
}
.tileCard:hover .imgCont img {
   transform: scale(1.05);
   transition: transform 0.5s;
}
.tileCard:hover .imgCont img {
   transform: scale(1.05);
   transition: transform 0.5s;
}
.gallery-card:hover .imgCont img {
   transform: scale(1.05);
   transition: transform 0.5s;
}

.dark-controls li button {
   background-color: #333;
   color: #fff;
}

ul {
   list-style: disc inside;
}
ol {
   list-style: decimal inside;
}
