.card:hover  .imgCont div {
    transform: scale(1.05);
    transition: transform 0.5s;
}
.tileCard:hover  .imgCont img {
    transform: scale(1.05);
    transition: transform 0.5s;
}
.gallery-card:hover  .imgCont img {
    transform: scale(1.05);
    transition: transform 0.5s;
}